<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand text-secondary" href="{{ path('home_index') }}"><h1><b>Wild Circus</b></h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav" id="onglet">

            <li class="nav-item">
                <a class="nav-link text-secondary" href="{{ path('home_gallery') }}">Galerie photos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="{{ path('contact') }}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="{{ path('billeterie') }}">Reservation</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link text-black" href="{{ path('app_logout') }}">déconnexion</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-black" href="{{ path('easyadmin') }}">Admin</a>
                </li>
            {% elseif app.user%}
                <li class="nav-item">
                    <a class="nav-link text-black" href="{{ path('app_logout') }}">déconnexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="#">Mon compte</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="{{ path('app_login') }}">Se connecter</a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>